<?xml version="1.0" encoding="UTF-8"?>
<configdata>
  <production>
    <routes>
      
      <homeSite type="Zend_Controller_Router_Route_Static">
            <route></route>
            <defaults>
              <controller>index</controller>
              <action>index</action>
            </defaults>
            <reverse></reverse>
        </homeSite>

        <categories>
              <route>/categories</route>
              <reverse>/categories</reverse>
          </categories>
      
       <articleList>
            <route>/articles</route>
            <defaults>

            </defaults>
            <reverse>/articles</reverse>
        </articleList>
        
        <articleNew>
              <route>/articles/new</route>
              <defaults>
                <controller>article</controller>
                <action>new</action>
              </defaults>
              <reverse>/articles/new</reverse>
        </articleNew>
        
        <albums>
             <route>/albums</route>
             <reverse>/albums</reverse>
         </albums>
        
        <articleShow type="Zend_Controller_Router_Route_Regex">
             <route>/articles/(.+)-(\d+)\.html</route>
             <defaults>
                 <controller>article</controller>
                 <action>show</action>
             </defaults>
             <map>
               <seo>1</seo>
               <id>2</id>
             </map>
             <reverse>/articles/%s-%d.html</reverse>
         </articleShow>
         
          <articleEdit type="Zend_Controller_Router_Route_Regex">
                <route>/articles/(\d+)/edit</route>
                <defaults>
                    <controller>article</controller>
                    <action>edit</action>
                </defaults>
                <map>
                  <id>1</id>
                </map>
                <reverse>/articles/%d/edit</reverse>
            </articleEdit>
              
    </routes>
  </production>
  
  <development extends="production">
    
  </development>
</configdata>