<?xml version="1.0" encoding="UTF-8"?>
<configdata>
  <production>
    <routes>
      
      <about type="Zend_Controller_Router_Route">
        <route>o-nas.html</route>
        <defaults>
          <controller>index</controller>
          <action>abouts</action>
        </defaults>
      </about>
      
      <project type="Zend_Controller_Router_Route_Regex">
          <route>project/(.*)</route>
          <defaults>
              <controller>index</controller>
              <action>index</action>
          </defaults>
          <map>
              <title>1</title>
          </map>
      </project>

      <news type="Zend_Controller_Router_Route_Regex">
        <route>news/(.*)/?(.*)</route>
        <defaults>
            <controller>index</controller>
            <action>shownews</action>
        </defaults>
        <map>
          <title>1</title>
          <xman>2</xman>
        </map>
      </news>

      <article type="Zend_Controller_Router_Route_Regex">
          <route>article/(.*)</route>
          <defaults>
              <controller>index</controller>
              <action>showarticle</action>
          </defaults>
          <map>
              <title>1</title>
          </map>
      </article>

      <shortcutone type="Zend_Controller_Router_Route">
          <route>:module/:id</route>
          <defaults>
              <controller>index</controller>
              <action>index</action>
          </defaults>
          <reqs id="\d+" />
      </shortcutone>
      
      <shortcuttwo type="Zend_Controller_Router_Route">
          <route>:module/:controller/:id</route>
          <defaults>
              <controller>index</controller>
          </defaults>
          <reqs id="\d+" />
      </shortcuttwo>
      
      <shortcutthree type="Zend_Controller_Router_Route">
          <route>:module/:controller/:action/:id</route>
          <defaults>
              <controller>index</controller>
              <action>index</action>
          </defaults>
          <reqs id="\d+" />
      </shortcutthree>


    </routes>
  </production>
  
  <development extends="production">
    
  </development>
</configdata>